<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>KartDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>mypkg.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookdet</display-name>
    <servlet-name>bookdet</servlet-name>
    <servlet-class>mypkg.bookdet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookdet</servlet-name>
    <url-pattern>/bookdet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cart</display-name>
    <servlet-name>cart</servlet-name>
    <servlet-class>mypkg.cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>kart</display-name>
    <servlet-name>kart</servlet-name>
    <servlet-class>mypkg.kart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kart</servlet-name>
    <url-pattern>/kart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>mypkg.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transferdetails</display-name>
    <servlet-name>transferdetails</servlet-name>
    <servlet-class>mypkg.transferdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transferdetails</servlet-name>
    <url-pattern>/transferdetails</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>myFilter</display-name>
    <filter-name>myFilter</filter-name>
    <filter-class>mypkg.myFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>myFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
</web-app>